$white: rgb(245, 245, 245);
$black: rgb(36, 36, 36);
$footerHeight: 100px;
$navHeight: 50px;

//z-index
$navZIndex: 2;
$modalZIndex: 3;

// :root {
//   --text-color: #{$black};
//   --bg-color: #{$white};
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --text-color: #{$white};
//     --bg-color: #{$black};
//   }
// }
